p{
  font-size: 12px
}
.card{
  word-break: break-word;
}
.card-imgage{
  height: 145px;
  object-fit: fill;
}
.card-title{
  font-size: 14px;
}
.card-body{
  display: grid;
  height: 325px;
}
.btn-read-more{
  align-items: flex-end;
  display: flex;
}
.fa{
  padding: 5px;
  background: #ebe7e7;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.category-badge{
  color: white;
  font-weight: 400;
  font-size: 12px;
  vertical-align: middle;
  background: #a3a4a5;
  text-transform: uppercase;
  line-height: 20px;
}
